{%- comment -%}

  This snippet renders a menu with support for dropdowns

  Parameters:
  - menu: the navigation menu object to render
  - menu_back_label: label for the 'Back' button in mobile dropdowns (default is 'link.title')
  - menu_levels: number of menu nested dropdown menus to display (max. 3 levels)
  - section_class: a CSS class prefix for styling the menu
  - settings: theme settings
  - socials: social links to include at the bottom of the mobile menu (default is true)
  - use_opener: whether to include a menu opener on mobile, e.g. hamburger button to open menu (default is true)

  Required parameters:
  - menu
  - section_class
  - settings

  Usage:

  {%- render 'menu',
      menu: main_menu,
      menu_back_label: 'Go back',
      menu_levels: number,
      section_class: 'your-class',
      settings: settings,
      socials: false,
      use_opener: false
  -%}
{%- endcomment -%}

{%- assign menu = menu | default: '' -%}

{%- if menu != blank -%}
  {%- assign class = 'menu' -%}
  {%- assign content = content | default: '' -%}
  {%- assign menu_levels = menu_levels | default: 1 -%}
  {%- assign menu_items = menu.items -%}
  {%- assign socials = socials | default: true -%}
  {%- assign use_opener = use_opener | default: true -%}

  {%- capture icon_arrow -%}
    <i class="menu__item-icon">
      {%- render 'icon-arrow' -%}
    </i>
  {%- endcapture -%}

  <div id="{{- section_class -}}-{{- class -}}" class="{{- section_class -}}__{{ class }} {{ class }}">
    {%- if use_opener -%}
      <input type="checkbox" id="{{- section_class -}}-{{- class -}}-opener" style="display: none;">
      <label for="{{- section_class -}}-{{- class -}}-opener" class="{{- section_class -}}__{{ class }}-opener {{ class }}__opener">
        <span></span>
      </label>
    {%- endif -%}

    <nav class="{{- section_class -}}__{{ class }}-nav {{ class }}__nav" style="display: none;">
      <div class="{{- class -}}__wrapper">
        <ul class="{{- class -}}__list">
          {%- for link in menu_items -%}
            {%- assign link_count = link.items_count -%}
            {%- assign link_index = forloop.index -%}
            {%- assign link_items = link.items -%}
            {%- assign link_title = link.title -%}
            {%- assign link_url = link.url -%}

            {%- if link != blank -%}
              <li class="{{- class -}}__item{% if link_count > 0 and menu_levels > 1 %} has-dropdown{%- endif -%}">

                {%- if link_count > 0 and menu_levels > 1 -%}
                  <input type="checkbox" id="{{- section_class -}}-dropdown-{{- class -}}-trigger-{{- link_index -}}" style="display: none;">
                  <label for="{{- section_class -}}-dropdown-{{- class -}}-trigger-{{- link_index -}}" class="{{- class -}}__dropdown-opener">
                    {{- icon_arrow -}}
                  </label>
                {%- endif -%}

                <a href="{{ link_url }}" class="{{- class -}}__link">
                  {{- link_title -}}
                </a>

                {%- if link_count > 0 and menu_levels > 1 -%}
                  <div class="{{- class -}}__dropdown" style="display: none;">
                    <div class="{{- class -}}__dropdown-wrapper">

                      <label for="{{- section_class -}}-dropdown-{{- class -}}-trigger-{{- link_index -}}" class="{{- class -}}__dropdown-opener">
                        {{- icon_arrow -}}
                        {{- menu_back_label | default: link_title -}}
                      </label>

                      <ul class="{{- class -}}__dropdown-list">
                        {%- for childlink in link_items -%}
                          {%- assign childlink_index = forloop.index -%}
                          {%- assign childlink_count = childlink.items_count -%}
                          {%- assign childlink_items = childlink.items -%}
                          {%- assign childlink_title = childlink.title -%}
                          {%- assign childlink_url = childlink.url -%}

                          {%- if childlink != blank -%}
                            <li class="{{- class -}}__dropdown-item">
                              {%- if childlink_count > 0 and menu_levels > 2 -%}
                                <input type="checkbox" id="{{- section_class -}}-dropdown-child{{- class -}}-trigger-{{- link_index -}}-{{- childlink_index -}}" style="display: none;">
                                <label for="{{- section_class -}}-dropdown-child{{- class -}}-trigger-{{- link_index -}}-{{- childlink_index -}}" class="{{- class -}}__dropdown-opener">
                                  {{- icon_arrow -}}
                                </label>
                              {%- endif -%}

                              <a href="{{ childlink_url }}" class="{{- class -}}__dropdown-link">
                                {{- childlink_title -}}
                              </a>

                              {%- if childlink_count > 0 and menu_levels > 2 -%}
                                <div class="{{- class -}}__dropdown">
                                  <div class="{{- class -}}__dropdown-wrapper">
                                    <label for="{{- section_class -}}-dropdown-child{{- class -}}-trigger-{{- link_index -}}-{{- childlink_index -}}" class="{{- class -}}__dropdown-opener">
                                      {{- icon_arrow -}}
                                      {{- menu_back_label | default: childlink_title -}}
                                    </label>

                                    <ul class="{{- class -}}__dropdown-list">
                                      {%- for grandchildlink in childlink_items -%}
                                        {%- assign grandchildlink_title = grandchildlink.title -%}
                                        {%- assign grandchildlink_url = grandchildlink.url -%}

                                        {%- if grandchildlink != blank -%}
                                          <li class="{{- class -}}__dropdown-item">
                                            <a href="{{ grandchildlink_url }}" class="{{- class -}}__dropdown-link">
                                              {{- grandchildlink_title -}}
                                            </a>
                                          </li>
                                        {%- endif -%}
                                      {%- endfor -%}
                                    </ul>
                                  </div>
                                </div>
                              {%- endif -%}

                            </li>
                          {%- endif -%}

                        {%- endfor -%}
                      </ul>
                    </div>
                  </div>
                {%- endif -%}

              </li>
            {%- endif -%}

          {%- endfor -%}
        </ul>

        {{- content -}}

        {%- render 'socials', settings: settings -%}
      </div>
    </nav>
  </div>
{%- endif -%}

