{%- comment -%}
  This snippet renders the logo image or text title

  Parameters:
  - logo: the logo image object
  - logo_floated: the floating logo image object
  - logo_title: the custom text title for the logo
  - loading: 'eager' or 'lazy' (default is 'lazy')
  - routes: the routes object
  - section_type: the section type where the logo is included (e.g. 'header', 'footer')
  - shop: the shop object
  - transparency: whether to show floating logo

  Required parameters:
  - logo
  - routes
  - section_type
  - shop

  Usage:

  {%- render 'logo',
      logo: logo_image,
      logo_floated: logo_image_floated,
      logo_title: 'Your Title',
      loading: 'eager',
      routes: routes,
      section_type: section.type,
      shop: shop,
      transparency: true
  -%}
{%- endcomment -%}

{%- assign loading_strategy = loading | default: 'lazy' -%}

<div class="{{- section_type -}}__logo logo">
  {%- if logo.url != blank or logo_floated.url != blank and transparency -%}
    {%- if logo.url != blank -%}
      <div class="{{- section_type -}}__logo-image-holder logo__image-holder">
        <a class="logo__link" href="{{ routes.root_url }}" aria-label="{{ shop.name }}">
          {%- render 'image',
              image: logo,
              image__alt: shop.name,
              image_class: 'logo__image',
              image_size: 'logo',
              loading: loading_strategy,
              keep_type: true
          -%}
        </a>
      </div>
    {%- endif -%}
    {%- if logo_floated.url != blank and transparency -%}
      <div class="{{- section_type -}}__logo-image-holder {{ section_type -}}__logo-image-holder--floated logo__image-holder logo__image-holder--floated">
        <a class="logo__link" href="{{ routes.root_url }}" aria-label="{{ shop.name }}">
          {%- render 'image',
              image: logo_floated,
              image__alt: shop.name,
              image_class: 'logo__image',
              image_size: 'logo',
              loading: loading_strategy,
              keep_type: true
          -%}
        </a>
      </div>
    {%- endif -%}
  {%- elsif logo_title != blank -%}
    <h2 class="logo__text">
      <a class="logo__link" href="{{ routes.root_url }}" aria-label="{{ shop.name }}">
        {{- logo_title -}}
      </a>
    </h2>
  {%- elsif shop.logo_url != blank -%}
    <a class="logo__link" href="{{ routes.root_url }}" aria-label="{{ shop.name }}">
      <img class="logo__image" src="{{ shop.logo_url }}" alt="{{ shop.name }}" width="150" height="50" loading="eager" />
    </a>
  {%- else -%}
    <h2 class="logo__text">
      <a class="logo__link" href="{{ routes.root_url }}" aria-label="{{ shop.name }}">
        {{- shop.name -}}
      </a>
    </h2>
  {%- endif -%}
</div>
