{%- comment -%}

  This snippet renders a menu with support for dropdowns

  Parameters:
  - content: additional content to include below the menu items (default is empty)
  - menu: the navigation menu object to render
  - menu_back_label: label for the 'Back' button in mobile dropdowns (default is 'link.title')
  - menu_id: unique ID for the menu instance (e.g. block.id)
  - menu_levels: number of menu nested dropdown menus to display (max. 3 levels)
  - section_type: the section type where the menu is included (e.g. 'header', 'footer')
  - settings: theme settings
  - socials: social links to include at the bottom of the mobile menu (default is true)
  - use_opener: whether to include a menu opener on mobile, e.g. hamburger button to open menu (default is true)

  Required parameters:
  - menu
  - menu_id
  - section_type
  - settings

  Usage:

  {%- render 'menu',
      content: element_menu_content,
      menu: main_menu,
      menu_back_label: 'Go back',
      menu_id: block.id,
      menu_levels: number,
      section_type: section.type,
      settings: settings,
      socials: false,
      use_opener: false
  -%}
{%- endcomment -%}

{%- assign menu = menu | default: '' -%}

{%- if menu != blank -%}
  {%- assign content     = content -%}
  {%- assign menu_items  = menu.items -%}

  {%- if menu_levels == nil -%}
    {%- assign menu_levels = 1 -%}
  {%- endif -%}
  {%- if socials == nil -%}
    {%- assign socials = true -%}
  {%- endif -%}
  {%- if use_opener == nil -%}
    {%- assign use_opener = true -%}
  {%- endif -%}

  {%- capture icon_arrow -%}
    <i class="{{- section_type -}}__menu-item-icon menu__item-icon">
      {%- render 'icon-arrow' -%}
    </i>
  {%- endcapture -%}

  <div class="{{- section_type -}}__menu menu" id="{{- section_type -}}-{{- menu_id -}}">
    {%- if use_opener -%}
      <input id="{{- section_type -}}-opener-{{- menu_id -}}" type="checkbox" style="display: none;">
      <label class="{{- section_type -}}__menu-opener menu__opener" for="{{- section_type -}}-opener-{{- menu_id -}}">
        <span></span>
      </label>
    {%- endif -%}

    <nav class="{{- section_type -}}__menu-nav menu__nav" style="display: none;">
      <div class="{{- section_type -}}__menu-wrapper menu__wrapper">
        <ul class="{{- section_type -}}__menu-list menu__list">
          {%- for link in menu_items -%}
            {%- assign link_count = link.items_count -%}
            {%- assign link_index = forloop.index -%}
            {%- assign link_items = link.items -%}
            {%- assign link_title = link.title -%}
            {%- assign link_url   = link.url -%}

            {%- if link != blank -%}
              <li class="{{- section_type -}}__menu-item menu__item{% if link_count > 0 and menu_levels > 1 %} has-dropdown{%- endif -%}">

                {%- if link_count > 0 and menu_levels > 1 -%}
                  <input id="{{- section_type -}}-dropdown-trigger-{{- menu_id -}}-{{- link_index -}}" type="checkbox" style="display: none;">
                  <label class="{{- section_type -}}__menu-dropdown-opener menu__dropdown-opener" for="{{- section_type -}}-dropdown-trigger-{{- menu_id -}}-{{- link_index -}}">
                    {{- icon_arrow -}}
                  </label>
                {%- endif -%}

                <a class="{{- section_type -}}__menu-link menu__link" href="{{ link_url }}">
                  {{- link_title -}}
                </a>

                {%- if link_count > 0 and menu_levels > 1 -%}
                  <div class="{{- section_type -}}__menu-dropdown menu__dropdown" style="display: none;">
                    <div class="{{- section_type -}}__menu-dropdown-wrapper menu__dropdown-wrapper">

                      <label class="{{- section_type -}}__menu-dropdown-opener menu__dropdown-opener" for="{{- section_type -}}-dropdown-trigger-{{- menu_id -}}-{{- link_index -}}">
                        {{- icon_arrow -}}
                        {{- menu_back_label | default: link_title -}}
                      </label>

                      <ul class="{{- section_type -}}__menu-dropdown-list menu__dropdown-list">
                        {%- for childlink in link_items -%}
                          {%- assign childlink_index = forloop.index -%}
                          {%- assign childlink_count = childlink.items_count -%}
                          {%- assign childlink_items = childlink.items -%}
                          {%- assign childlink_title = childlink.title -%}
                          {%- assign childlink_url   = childlink.url -%}

                          {%- if childlink != blank -%}
                            <li class="{{- section_type -}}__menu-dropdown-item menu__dropdown-item">
                              {%- if childlink_count > 0 and menu_levels > 2 -%}
                                <input id="{{- section_type -}}-dropdown-trigger-child{{- menu_id -}}-{{- link_index -}}-{{- childlink_index -}}" type="checkbox" style="display: none;">
                                <label class="{{- section_type -}}__menu-dropdown-opener menu__dropdown-opener" for="{{- section_type -}}-dropdown-trigger-child{{- menu_id -}}-{{- link_index -}}-{{- childlink_index -}}">
                                  {{- icon_arrow -}}
                                </label>
                              {%- endif -%}

                              <a class="{{- section_type -}}__menu-dropdown-link menu__dropdown-link" href="{{ childlink_url }}">
                                {{- childlink_title -}}
                              </a>

                              {%- if childlink_count > 0 and menu_levels > 2 -%}
                                <div class="{{- section_type -}}__menu-dropdown menu__dropdown">
                                  <div class="{{- section_type -}}__menu-dropdown-wrapper menu__dropdown-wrapper">
                                    <label class="{{- section_type -}}__menu-dropdown-opener menu__dropdown-opener" for="{{- section_type -}}-dropdown-trigger-child{{- menu_id -}}-{{- link_index -}}-{{- childlink_index -}}">
                                      {{- icon_arrow -}}
                                      {{- menu_back_label | default: childlink_title -}}
                                    </label>

                                    <ul class="{{- section_type -}}__menu-dropdown-list menu__dropdown-list">
                                      {%- for grandchildlink in childlink_items -%}
                                        {%- assign grandchildlink_title = grandchildlink.title -%}
                                        {%- assign grandchildlink_url   = grandchildlink.url -%}

                                        {%- if grandchildlink != blank -%}
                                          <li class="{{- section_type -}}__menu-dropdown-item menu__dropdown-item">
                                            <a class="{{- section_type -}}__menu-dropdown-link menu__dropdown-link" href="{{ grandchildlink_url }}">
                                              {{- grandchildlink_title -}}
                                            </a>
                                          </li>
                                        {%- endif -%}
                                      {%- endfor -%}
                                    </ul>
                                  </div>
                                </div>
                              {%- endif -%}

                            </li>
                          {%- endif -%}

                        {%- endfor -%}
                      </ul>
                    </div>
                  </div>
                {%- endif -%}

              </li>
            {%- endif -%}

          {%- endfor -%}
        </ul>

        {{- content -}}

        {%- if socials -%}
          {%- render 'socials', settings: settings -%}
        {%- endif -%}
      </div>
    </nav>
  </div>
{%- endif -%}
