{%- if section.blocks.size > 0 -%}
  {%- assign color_scheme           = section.settings.color_scheme -%}
  {%- assign content_horizontal     = section.settings.content_horizontal -%}
  {%- assign narrowed               = false -%}
  {%- assign padding_bottom_desktop = section.settings.padding_bottom_desktop -%}
  {%- assign padding_bottom_mobile  = section.settings.padding_bottom_mobile -%}
  {%- assign padding_top_desktop    = section.settings.padding_top_desktop -%}
  {%- assign padding_top_mobile     = section.settings.padding_top_mobile -%}
  {%- assign step_counter           = 0 -%}
  {%- assign steps_group            = false -%}
  {%- assign steps_layout           = section.settings.steps_layout -%}
  {%- assign steps_layout_blocks    = section.settings.steps_layout_blocks -%}

  {%- if steps_layout == 'narrow' -%}
    {%- assign narrowed = true -%}
  {%- endif -%}

  {% comment %} CSS variables start {% endcomment %}
  {%- capture variables -%}
    {%- case padding_bottom_desktop -%}
      {%- when 'md' -%}
        --padding-bottom-desktop: 60px;
      {%- when 'lg' -%}
        --padding-bottom-desktop: 80px;
    {%- endcase -%}

    {%- case padding_bottom_mobile -%}
      {%- when 'md' -%}
        --padding-bottom-mobile: 32px;
      {%- when 'lg' -%}
        --padding-bottom-mobile: 50px;
    {%- endcase -%}

    {%- case padding_top_desktop -%}
      {%- when 'md' -%}
        --padding-top-desktop: 60px;
      {%- when 'lg' -%}
        --padding-top-desktop: 80px;
    {%- endcase -%}

    {%- case padding_top_mobile -%}
      {%- when 'md' -%}
        --padding-top-mobile: 32px;
      {%- when 'lg' -%}
        --padding-top-mobile: 50px;
    {%- endcase -%}

    {%- case content_horizontal -%}
      {%- when 'center' -%}
        --steps-content-alignment: center;
        --steps-content-text-align: center;
      {%- when 'right' -%}
        --steps-content-alignment: flex-end;
        --steps-content-text-align: right;
    {%- endcase -%}
  {%- endcapture -%}
  {% comment %} CSS variables end {% endcomment %}

  {%- if narrowed -%}
    <div class="steps__container container">
  {%- endif -%}
    <div class="steps__wrapper steps__wrapper-{{ steps_layout_blocks }} steps__wrapper--padding-top steps__wrapper--padding-bottom color-{{- color_scheme.id -}}"
      style="{{- variables | escape -}}"
    >
      {%- unless narrowed -%}
        <div class="steps__container container">
      {%- endunless -%}

        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              {%- if steps_group -%}
                </div>

                {%- assign steps_group = false -%}
              {%- endif -%}

              {%- assign heading = block.settings.heading -%}

              {%- if heading != blank -%}
                <h2 class="steps__heading" id="{{- block.id -}}">
                  {{- heading -}}
                </h2>
              {%- endif -%}

            {%- when 'highlited-text' -%}
              {%- if steps_group -%}
                </div>

                {%- assign steps_group = false -%}
              {%- endif -%}

              {%- assign tagline = block.settings.tagline -%}

              {%- if tagline != blank -%}
                <p class="steps__tagline tagline" id="{{- block.id -}}">
                  {{- tagline -}}
                </p>
              {%- endif -%}

            {%- when 'step' -%}
              {%- assign description   = block.settings.description -%}
              {%- assign image         = block.settings.image -%}
              {%- assign image_alt     = block.settings.image_alt -%}
              {%- assign number_prefix = block.settings.number_prefix -%}

              {%- if description != blank -%}
                {%- unless steps_group -%}
                  <div class="steps__columns">

                  {%- assign steps_group = true -%}
                {%- endunless -%}

                {%- assign last_in_group   = true -%}
                {%- assign next_block      = section.blocks[forloop.index] -%}
                {%- assign next_block_text = next_block.settings.description -%}
                {%- assign step_counter    = step_counter | plus: 1 -%}

                {%- if next_block.type == 'step' and next_block_text != blank -%}
                  {%- assign last_in_group = false -%}
                {%- endif -%}

                {%- capture element_counter -%}
                  <span class="steps__number">
                    {{ number_prefix }}{{ step_counter }}
                  </span>
                {%- endcapture -%}

                <div class="steps__col" data-step-number="{{- step_counter -}}" id="{{- block.id -}}">
                  {%- if steps_layout_blocks == 'card' -%}
                    {{- element_counter -}}
                  {%- endif -%}

                  {%- if image.url != blank -%}
                    {%- render 'image',
                        image: image,
                        image_alt: image_alt,
                        image_class: 'steps__image',
                        image_size: 'flexible'
                    -%}
                  {%- endif -%}

                  {%- if steps_layout_blocks == 'icon' -%}
                    {{- element_counter -}}

                    {%- unless last_in_group -%}
                      {%- render 'icon-arrow-full' -%}
                    {%- endunless -%}
                  {%- endif -%}

                  <div class="steps__text">
                    {{- description -}}
                  </div>

                  {%- if steps_layout_blocks == 'simple' -%}
                    {{- element_counter -}}
                  {%- endif -%}
                </div>
              {%- endif -%}
          {%- endcase -%}
        {%- endfor -%}

        {%- if steps_group -%}
          </div>
        {%- endif -%}

      {%- unless narrowed -%}
        </div>
      {%- endunless -%}
    </div>
  {%- if narrowed -%}
    </div>
  {%- endif -%}
{%- endif -%}

{% schema %}
  {
    "name": "Steps",
    "tag": "section",
    "class": "steps",
    "css_assets": [
      {
        "file": "steps.css"
      }
    ],
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color scheme",
        "default": "set-1"
      },
      {
        "type": "select",
        "id": "steps_layout",
        "label": "Layout",
        "options": [
          {
            "value": "wide",
            "label": "Wide"
          },
          {
            "value": "narrow",
            "label": "Narrow"
          }
        ],
        "default": "wide"
      },
      {
        "type": "select",
        "id": "steps_layout_blocks",
        "label": "",
        "options": [
          {
            "value": "card",
            "label": "Cards"
          },
          {
            "value": "icon",
            "label": "Icons"
          },
          {
            "value": "simple",
            "label": "Simple"
          }
        ],
        "default": "simple"
      },
      {
        "type": "select",
        "id": "content_horizontal",
        "label": "Horizontal positioning",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left"
      },
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "select",
        "id": "padding_top_desktop",
        "label": "Padding top",
        "options": [
          {
            "value": "sm",
            "label": "Small"
          },
          {
            "value": "md",
            "label": "Medium"
          },
          {
            "value": "lg",
            "label": "Large"
          }
        ],
        "default": "lg"
      },
      {
        "type": "select",
        "id": "padding_bottom_desktop",
        "label": "Padding bottom",
        "options": [
          {
            "value": "sm",
            "label": "Small"
          },
          {
            "value": "md",
            "label": "Medium"
          },
          {
            "value": "lg",
            "label": "Large"
          }
        ],
        "default": "lg"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "select",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "options": [
          {
            "value": "sm",
            "label": "Small"
          },
          {
            "value": "md",
            "label": "Medium"
          },
          {
            "value": "lg",
            "label": "Large"
          }
        ],
        "default": "md"
      },
      {
        "type": "select",
        "id": "padding_bottom_mobile",
        "label": "Padding bottom",
        "options": [
          {
            "value": "sm",
            "label": "Small"
          },
          {
            "value": "md",
            "label": "Medium"
          },
          {
            "value": "lg",
            "label": "Large"
          }
        ],
        "default": "md"
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "Heading",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "General settings"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "How it works"
          }
        ]
      },
      {
        "type": "highlited-text",
        "name": "Highlighted text",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "General settings"
          },
          {
            "type": "text",
            "id": "tagline",
            "label": "Text",
            "default": "Tagline"
          }
        ]
      },
      {
        "type": "step",
        "name": "Step",
        "limit": 8,
        "settings": [
          {
            "type": "header",
            "content": "General settings"
          },
          {
            "type": "text",
            "id": "number_prefix",
            "label": "Number prefix (optional)"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image (optional)",
            "info": "Use WebP, PNG, JPG high-quality image (330px or larger) for best results on all screen sizes"
          },
          {
            "type": "text",
            "id": "image_alt",
            "label": "Alternative text (optional)",
            "default": "Image description",
            "info": "For SEO and Accessibility purposes"
          },
          {
            "type": "contentEditor",
            "id": "description",
            "label": "Text",
            "default": "Step description goes here"
          }
        ]
      }
    ]
  }
{% endschema %}
